body,
html {
    padding: 0em;
    margin: 0em
}

.pagedata {
    min-width: 100%;
    padding-top: 0px;
    margin-top: 0px;
}

.topmenu {
    margin-bottom: 0em !important;
}

.frontimage {
    max-height: 90vh;
}