body,
html {
    padding: 0em;
    margin: 0em
}

.pagedata {
    min-width: 100%;
    padding-top: 0em;
    margin-top: 0em;
}

.topmenu {
    margin-bottom: 0em !important;
    height: 3vh !important;
    z-index: 999 !important;
}

.frontimage {
    max-height: 95vh;
}

.frontcard {
    min-width: 100% !important;
    margin: 0em !important;
}

.conseg {
    top: -1px;
}

.cardcontent {
    padding: 0em !important;
    min-height: 25em !important;
}

.myworld {
    margin-top: 30px !important;
    font-size: 7vh !important;
}

.items {
    margin-top: 100px !important;
}

.sticky {
    top: -3px !important;
    bottom: -2px !important;
}