<div class="pusher">

    <div class="ui  card frontcard">
        <div class="blurring dimmable image">
            <div class="ui active dimmer">
                <div class="content">
                    <div class="center">
                        <h4 class="ui grey inverted header hidsmall">Hi, My name is</h4>
                        <h1 class="ui grey inverted header">Puneet Grover</h1>
                        <h4 class="ui grey inverted header">PROGRAMER, DEVELOPER, LEARNER.</h4>
                    </div>
                </div>
            </div>
            <img class="ui fluid image frontimage" src="assets/img/back.jpg">
        </div>
        <div class="content cardcontent">
            <div class="ui fluid segment conseg">
                <div class="column stackable ui equal width grid">
                    <div class="column">
                    </div>
                    <div class="eight wide column">
                        <h1 class="myworld ui center aligned header"> {{ '{' }} My World {{ '}' }} </h1>
                        <div class="ui divided items">
                            <div class="item">
                                <div class="ui small image">
                                    <img class="disabled ui image" src="assets/img/1.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">C++</div>
                                    <div class="meta">
                                        <span class="span">Jan'14 - still</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="ui small image">
                                    <img class="disabled ui image" src="assets/img/2.png">
                                </div>
                                <div class="content">
                                    <div class="header">Python</div>
                                    <div class="meta">
                                        <span class="span">Jan'15 - still</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="ui small image">
                                    <img class="disabled ui image" src="assets/img/3.png">
                                </div>
                                <div class="content">
                                    <div class="header">JavaScript - NodeJS</div>
                                    <div class="meta">
                                        <span class="span">June'15 - still</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="ui small image">
                                    <img class="disabled ui image" src="assets/img/4.png">
                                </div>
                                <div class="content">
                                    <div class="header">Angular</div>
                                    <div class="meta">
                                        <span class="span">July'16 - still</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="ui small image">
                                    <img class="disabled ui image" src="assets/img/6.png">
                                </div>
                                <div class="content">
                                    <div class="header">Java</div>
                                    <div class="meta">
                                        <span class="span">June'14 - still</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="ui small image">
                                    <img class="disabled ui image" src="assets/img/7.png">
                                </div>
                                <div class="content">
                                    <div class="header">Anime</div>
                                    <div class="meta">
                                        <span class="span">2008 - still</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="ui small image">
                                    <img class="disabled ui image" src="assets/img/8.png">
                                </div>
                                <div class="content">
                                    <div class="header">Puzzles</div>
                                    <div class="meta">
                                        <span class="span">Childhood - still</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="ui small image">
                                    <img class="disabled ui image" src="assets/img/9.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Physics</div>
                                    <div class="meta">
                                        <span class="span">Childhood - still</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>
            </div>
        </div>