<style>
    .items>.item {
        min-height: 12vw !important;
    }
</style>
<div class="projhead1" style="position:fixed !important;">
    <p class="projhead2">Projects</p>
</div>
<div class="column stackable ui equal width grid" style="margin-top: 5em !important;">
    <div class="column">
    </div>
    <div class="seven wide column">
        <div class="ui segment" style="border-radius:10px !important;">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <a class="header">Personal Assistant for exploiting Web Services</a>
                        <div class="meta">
                            <span class="span">Jan'17 - still</span>
                        </div>
                        <div class="description">
                            <p>A Service-oriented architecture (SOA) using NLP to exploit web services given by various companies to provide everything to the user at one place in an interactive way.</p>
                        </div>
                        <div class="extra">
                            <span title="Python" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #3572A5;"></span>
                            <span title="JavaScript" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #f1e05a;"></span>
                            <span title="Swift" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #ffac45;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui segment" style="border-radius:10px !important;">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <a class="header">Online Tax Mapping</a>
                        <div class="meta">
                            <span class="span">Mar'16</span>
                        </div>
                        <div class="description">
                            <p>An online portal which government can use to keep track of commodities sale and tax payable of different factories.</p>
                        </div>
                        <div class="extra">
                            <span title="Python" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #3572A5;"></span>
                            <span title="JavaScript" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #f1e05a;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui segment" style="border-radius:10px !important;">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <a class="header">Reddit Surfer</a>
                        <div class="meta">
                            <span class="span">Sep'16</span>
                        </div>
                        <div class="description">
                            <p>A basic subreddit surfer using reddit’s API and AngularJS as front-end framework.</p>
                        </div>
                        <div class="extra">
                            <span title="JavaScript" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #f1e05a;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- <div class="column">
                 <div class="ui segment" style="border-radius:10px !important;">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="header">Speech Recognition</a>
                                <div class="meta">
                                    <span class="span">Jul'16</span>
                                </div>
                                <div class="description">
                                    <p>Making a speech recognition program by applying Hidden Markov Model (HMM) in ML.</p>
                                </div>
                                <div class="extra">
                                    <span title="Python" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #3572A5;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>-->


        <div class="ui segment" style="border-radius:10px !important;">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <a class="header">Chrome Extension</a>
                        <div class="meta">
                            <span class="span">Jul'16</span>
                        </div>
                        <div class="description">
                            <p>An extension which uses github API to find basic information on a user.</p>
                        </div>
                        <div class="extra">
                            <span title="JavaScript" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #f1e05a;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment" style="border-radius:10px !important;">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <a class="header">Tax Management System</a>
                        <div class="meta">
                            <span class="span">Jun'14</span>
                        </div>
                        <div class="description">
                            <p>A Java application for managing database of tax and commodities for different companies.</p>
                        </div>
                        <div class="extra">
                            <span title="Java" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #b07219;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="column">
                <div class="ui segment" style="border-radius:10px !important;">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="header">Unofficial Quora API</a>
                                <div class="meta">
                                        <span class="span">Jan'16-Mar'16</span>
                                    </div>
                                <div class="description">
                                    <p>Made an unofficial Quora API in python by WebScraping and provided some functions.</p>
                                </div>
                                <div class="extra">
                                    <span title="Python" style="display: inline-block; width: 20px; height: 5px; border-radius: 15px; margin-right: 5px; background-color: #3572A5;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

    </div>
    <div class="column">
    </div>
</div>