<style>
    .list>.item {
        min-height: 250px !important;
    }
</style>

<div class="ui  card frontcard">
    <div class="content cardcontent">
        <div class="ui fluid transparent segment conseg">
            <div id="ribbon">
                <div class="inset">
                    <div class="bloghead">Blog</div>
                </div>
                <div class="container">
                    <div class="base"></div>
                    <div class="left_corner"></div>
                    <div class="right_corner"></div>
                </div>
            </div>
            <div class="column stackable ui equal width grid">
                <div class="column">
                </div>
                <div class="eight wide column">
                    <div class="ui relaxed divided list" style="margin-top:calc(2.85714286em + 3vw) !important;">
                        <div class="item" *ngFor="let blog of blogs" [class.selected]="blog === selectedBlog" (click)="onSelect(blog)">
                            <div class="content">
                                <a class="header">{{ blog.heading }}</a>
                                <div class="description">{{ blog.date }} {{ blog.month }} {{ blog.year }}</div>
                                <p>{{ blog.data | truncate : 50 }}</p>
                            </div>

                        </div>
                    </div>



                    <blog-show [blog]="selectedBlog">
                    </blog-show>





                    <!--<div class="column ui equal width grid">
                        <div class="column">
                            <button class="fluid ui left floated icon button">
                                    <i class="left chevron icon"></i>Prev
                                </button>
                        </div>
                        <div class="column">

                            <div class="ui borderless menu" style="overflow:hidden;">
                                <a class="active item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <div class="disabled item">...</div>
                                <a class="item">5</a>
                            </div>

                        </div>
                        <div class="column">
                            <button class="fluid ui right floated icon button">Next
                                    <i class="right chevron icon"></i>
                                </button>
                        </div>
                    </div>-->
                </div>
                <div class="column">
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>