<style>
    .list>.item {
        min-height: 250px !important;
    }
</style>
<div class="ui  card frontcard">
    <div class="content cardcontent">
        <div class="ui fluid transparent segment conseg">
            <div id="ribbon">
                <div class="inset">
                    <div class="bloghead">Blog</div>
                </div>
                <div class="container">
                    <div class="base"></div>
                    <div class="left_corner"></div>
                    <div class="right_corner"></div>
                </div>
            </div>
            <div class="column stackable ui equal width grid">
                <div class="column">
                </div>
                <div class="eight wide column">
                    <div class="ui relaxed divided list" style="margin-top:calc(2.85714286em + 3vw) !important;">
                        <div class="item">

                            <div class="content">
                                <a class="header">Blah blah blah!</a>
                                <div class="description">12th Oct 2016</div>
                                <p>Iiaufh puwehfpw pfouwhepfuo eahpo vhepofhpoehgpoesngpowejngpeoj ngpowe gpowengpwoejgnpweojgnwpeojg pweog wepgo jnwepogjneopgjnep gwe gowengpowej gwe g weognpwoeg weojg npeo jgnp spirg pirsgbpwie gpweigbpaweijgbpe sgaw epigajanebwpigjpseg
                                    jsrg r gjpsrngpjs rpgns rpjgnspg npsr gno srgp pse g.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <a class="header">To a new start</a>
                                <div class="description">23rd Dec 2016</div>
                            </div>
                        </div>
                        <div class="item">

                            <div class="content">
                                <a class="header">Journey of life</a>
                                <div class="description">2nd Jan 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="column ui equal width grid">
                        <div class="column">
                            <button class="fluid ui left floated icon button">
                                    <i class="left chevron icon"></i>Prev
                                </button>
                        </div>
                        <div class="column">
                            <div class="center aligned">
                                <div class="ui input focus" style="width:5px !important;">
                                    <input type="text" placeholder="1" style="width:5px !important;">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <button class="fluid ui right floated icon button">Next
                                    <i class="right chevron icon"></i>
                                </button>
                        </div>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>